# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Maven release plugin
/pom.xml.releaseBackup
/release.properties

# Project test resources
/src/main/resources/benchmark/test-results.txt
