<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!--    Suppress all logback output (configuration logs) to the console -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <appender name="CONSOLE-FULL" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36}: %msg%n
            </Pattern>
        </layout>
    </appender>

    <appender name="CONSOLE-ONLY-MESSAGE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %msg%n
            </Pattern>
        </layout>
    </appender>

    <logger name="com.showmeyourcode.projects.algorithms.launcher" level="debug" additivity="false">
        <appender-ref ref="CONSOLE-ONLY-MESSAGE"/>
    </logger>
    <logger name="com.showmeyourcode.projects.algorithms.console" level="debug" additivity="false">
        <appender-ref ref="CONSOLE-ONLY-MESSAGE"/>
    </logger>

    <root level="error">
        <appender-ref ref="CONSOLE-FULL"/>
    </root>

</configuration>
